/* 一般樣式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    display: flex;
    padding: 20px;
}

.left-side {
    width: 25%;
    padding: 10px;
}

#keyword-container {
    position: relative;
}

select#keyword {
    width: 100%;
    padding: 8px 40px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    appearance: none;
    position: relative;
}

.clear-button {
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
    color: red;
    display: none;
}

#filter-form select {
    max-height: 200px;  /* 設定最大高度 */
    overflow-y: auto;   /* 啟用垂直滾動條 */
}

.right-side {
    width: 75%;
    padding: 10px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 120px;
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 響應式設計 */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .left-side, .right-side {
        width: 100%;
    }

    .card {
        width: 80px;
        height: 120px;
    }
}
